#navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 auto;
    font-size: 1rem;
}
#navigation li{
    padding: 0.3em;
}
@media screen and (orientation: landscape){
    #navigation li{
        margin: 0 2em;
    }
    #navigation{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: fit-content;
        margin: 0 auto;
        font-size: 1rem;
    }
}
@media screen and (orientation: portrait){
    #navigation li{
        margin: 0 0.3em;
    }
    #navigation{
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        margin: 0 auto;
        font-size: 1rem;
    }
}
